*{
    margin : 0;
    padding :0;
    font-family: 'Poppins', sans-serif;
}
.div1{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/hikkaduwa.png);
background-size:cover;
background-position: center;
background-color: #06f1e9;
position:relative;
}

nav{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(253, 250, 250);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.nav-links ul li::after{
content: "";
width: 0%;
height: 2px;
background: #06f1e9;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.btn{
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: rebeccapurple;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    align-items: right;
}
.button{
    justify-content: center;
    display: flex;
}
.btn:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: rebeccapurple;
    top: 50%;
    transform: skew(30deg) translate(-150%,-50%);
    transition: all 0.5s;
}
.btn:hover{
    background-color: #06f1e9;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}
.btn:hover::before{
    transform: skew(30deg) translate(150%,-50%);
    transition-delay: 0.1s;
}
.btn:active{
    transform: scale(0.9);
}

.hikkaduwa{
    flex-basis: 31%;
     background-color: #09eeee;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
     margin-top: 80px;
     margin-left: 50px;
     margin-right: 50px;
     text-align: center;
}
.Introcontent11-col{
    flex-basis: 48%;
    padding: 30px 2px;
    border-radius: 10px;
   
}
.Intrcontent12-col img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.Introcontent11-col h2{
    padding-top: 0;
}
.Introcontent11-col p{
    padding-bottom: 10px;
    text-align: justify;
    max-width: 1000px;
   
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: right;
}
.Introcontent-col2{
    flex-basis: 48%;
    padding: 30px 2px;
    border-radius: 10px;
   
}
.Introcontent-col2 h2{
    padding-top: 0;
}
.Introcontent-col2 p{
    padding-bottom: 10px;
    text-align: justify;
    max-width: 1000px;
   
}
.row{
    padding: 15px;
    display: flex;
    justify-content: right;
}
/*Four image containers(use 25% for four)*/
.column{
    float: left;
    width: 22.22%;
    padding: 5px;
}
/*Clear floats after image containers*/
.row::after{
    content: "";
    clear: both;
    display: table;
}
.activities{
    flex-basis: 31%;
     background-color: #09eeee;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
     margin-top: 80px;
     margin-left: 50px;
     margin-right: 50px;
     text-align: center;
}
.Introcontent15-col{
    flex-basis: 48%;
    padding: 30px 2px;
    border-radius: 10px;
   
}
.Introcontent15-col h3{
    padding-top: 0;
}
.Introcontent15-col p{
    padding-bottom: 10px;
    text-align: justify;
    max-width: 1000px;
   
}
.Introcontent15-col ul{
    text-decoration: dotted;
    text-align: left;
    position: relative;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: right;
}
.Introcontent-col2{
    flex-basis: 48%;
    padding: 30px 2px;
    border-radius: 10px;
   
}
.Introcontent-col2 h2{
    padding-top: 0;
}
.Introcontent-col2 p{
    padding-bottom: 10px;
    text-align: justify;
    max-width: 1000px;
   
}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footer{
    background: #000;
    height: 110px;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    text-align: left;
}
.footer ul{
    list-style-type: none;
}
.content-footer{
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.f1{
    margin-top: 10%;
}

